<section class="ftco-section" id="booking">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="text-center mb-lg-3 mb-2" style="font-family: 'OpenSansRegular';">Agenda tu cita</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-7" style="padding:0px;">
                            <div class="contact-wrap w-100 p-md-2 p-4">
                                <div class="booking-form">
                                    <form role="form" action="https://formsubmit.co/8b9ba6787d0bc28098f27376f14d1c27"
                                        method="POST" style="font-family: 'OpenSans';">
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <input type="text" name="Nombre" id="name" class="form-control"
                                                    placeholder="Nombre y Apellido" aria-label="Nombre" required>
                                            </div>

                                            <div class="col-lg-6 col-12">
                                                <input type="email" name="Correo" id="email" pattern="[^ @]*@[^ @]*"
                                                    class="form-control" placeholder="Correo (opcional)" aria-label="Correo">
                                            </div>

                                            <div class="col-lg-6 col-12">
                                                <input type="telephone" name="Celular" id="phone"
                                                    pattern="([0-9][ -]*){10}" class="form-control"
                                                    placeholder="Celular" aria-label="Celular" required>
                                            </div>

                                            <div class="col-lg-6 col-12">
                                                <input type="date" name="Fecha de Cita" id="date" value=""
                                                    class="form-control" aria-label="Fecha">

                                            </div>
                                            <div class="col-12">
                                                <textarea class="form-control" rows="3" id="message" name="mensaje"
                                                    placeholder="Deja un mensaje adicional (opcional)" aria-label="Mensaje"></textarea>
                                            </div>

                                            <div class="col-lg-5 col-md-3 col-6 mx-auto">
                                                <br> <button type="submit" class="form-control palpitando" id="submit-button"
                                                    style="margin-top:0px;">Revisar</button>
                                            </div>
                                        </div>
                                        <input type="hidden" name="_next" value="https://draleydimantilla.com/">
                                        <input type="hidden" name="_subject" value="Nueva Solicitud de Cita">
                                        <input type="hidden" name="_captcha" value="false">
                                        <input type="hidden" name="_template" value="table">
                                        <!-- <input type="hidden" name="_blacklist" value="spammy pattern, banned term, phrase"> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch" style="padding:0px;">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4413.5394019158275!2d-73.11307806233968!3d7.072011079399945
                                    !2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f0d1163b437%3A0x4a4c1cc29ccd9b43!2sCl%C3%ADnica%20FOSCAL%20Internacio
                                    nal!5e0!3m2!1ses!2sco!4v1680978996023!5m2!1ses!2sco" width="100%" height="304px" class="bookingMap"
                                    style="border: 0px;;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center ">
                                    <i class="bi-signpost-split timeline-icon grow-on-hover" style="color: white;"></i>
                                </div>
                                <div class="text" >
                                    <p><span>Direccion: </span> <br> Calle 157 # 20 - 94, Foscal Internacional FOSUNAB,
                                        Torre C, Consultorio 515</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <i class="bi-telephone timeline-icon grow-on-hover" style="color: white;"></i>
                                </div>
                                <div class="text">
                                    <p><span>Telefono:</span> <br> <a href="tel://3178148094">+57 317 814 8094</a> <br>
                                        <a href="tel://6076842911">6076842911</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <i class="bi-envelope-heart timeline-icon grow-on-hover" style="color: white;"></i>
                                </div>
                                <div class="text">
                                    <p><span>Correo: </span> <a
                                            href="draleydimantilla@gmail.com">draleydimantilla@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <i class="bi-instagram timeline-icon grow-on-hover" style="color: white;"></i>
                                </div>
                                <div class="text">
                                    <p><span>Instagram: </span> <a href="https://www.instagram.com/dramantilladerma"
                                            target="_blank">@dramantilladerma</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
