<section class="section-padding pb-0" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding: 0px;">
                <h2 class="text-center mb-lg-5 mb-4" style="font-family: 'OpenSansRegular';"> Casos Clinicos </h2>
                <ngb-carousel class="carousel-dark">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img src="/assets/images/gallery/Paciente1.webp" alt="Paciente1">
                      </div>
                      <div class="carousel-caption">
                        <p> </p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img src="/assets/images/gallery/Paciente2.webp" alt="Paciente2">
                      </div>
                      <div class="carousel-caption">
                        <p></p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img src="/assets/images/gallery/Paciente3.webp" alt="Paciente3">
                        </div>
                        <div class="carousel-caption">
                          <p><p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img src="/assets/images/gallery/Paciente4.webp" alt="Paciente4">
                        </div>
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img src="/assets/images/gallery/Paciente5.webp" alt="Paciente5">
                        </div>
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                  </ngb-carousel>
            </div>
        </div>
    </div>
</section>
