<section class="section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h2 class="mb-lg-3 mb-3" style="font-family: 'OpenSansRegular';">Conoce a la Dra. Leydi Mantilla</h2>

                <p style="font-family: 'OpenSans';">Si estás buscando un cuidado experto y personalizado para tu piel, estás en el lugar correcto. Mi equipo y yo estamos comprometidos a proporcionarte la mejor atención posible, desde el diagnóstico y tratamiento de condiciones médicas de la piel hasta procedimientos estéticos innovadores que te ayudarán a lucir y sentirte mejor.</p>

                <p style="font-family: 'OpenSans';"> ¡Te invito a que nos visites y experimentes el nivel de cuidado que mereces! ¡Estamos aquí para ti! </p>
            </div>

            <div class="col-lg-4 col-md-5 col-12 mx-auto">
                <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                    <p class="featured-text" style="font-family: 'OpenSans';"><span class="featured-number">6</span> Años<br> de Experiencia</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-6 ps-0">
                <img src="/assets/images/gallery/consultamartin.jpg " class="img-fluid galleryImage" alt="get a vaccine" title="get a vaccine for yourself">
            </div>

            <div class="col-lg-6 col-6 pe-0">
                <img src="/assets/images/gallery/Home2.jpg" class="img-fluid galleryImage" alt="wear a mask" title="wear a mask to protect yourself">
            </div>
        </div>
    </div>
</section>
