<section class="hero" id="Perfil" style="height: 780px;">
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding: 0px;">
                <div class="portada">
                    <div class="contenido">

                        <div class="perfil_container">
                            <img src="/assets/images/gallery/Perfil1.jpeg" alt="Foto Perfil" class="imgPerfil">
                            <h1 class="nombre">Dra. Leydi Mantilla</h1>
                            <br>
                            <p class="titulo2"> MEDICA DERMATOLOGA </p>
                            <p class="perfil_txt"> Mi desempeño profesional esta enmarcado dentro de los principios de
                                eficiencia, liderazgo, investigación
                                y de espíritu de servicio, llevando a cabo labores y responsabilidades bajo el
                                cumplimiento de la Ética Médica. </p>

                            <p class="perfil_txt">
                                Realicé diferentes estudios en mi posgrado enfocados en “Barreras para el diagnóstico y
                                tratamiento del Cáncer Gástrico”, “Paniculitis como Presentación Inicial de Lepra”,
                                “Determinacion del volumen tiroideo normal evaluado por ecografía
                                en adultos sin patología tiroide en una población colombiana” siendo ponente en
                                diferentes Congresos Dermatologicos nacionales e internacionales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
