<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/Home.JPG')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container" style="margin-top: 70%;">
                <div class="title-brand" >
                    <!--<div class="angular-logo">
                        <img src="assets/img/Logo2.png" alt="">
                        </div>
                    -->
                    <h1 class="presentation-title">Dra. Leydi Mantilla</h1>
                </div>
                <h2 class="presentation-subtitle text-center" style="margin: 0px; font-size: 100%;">Dermatologa Clinica y Estetica</h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
    </div>
    <div class="main">
        <div class="section" style="padding-top: 0px;">
            <div class="container" style="margin-bottom: 30px;">
                <div class="tim-title">
                    <h3 style="font-family: 'The Amsterdam'; text-align:center; font-size: 350%;">¿Que ofrecemos para ti?</h3>
                </div>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="Biopsia de Piel">
                                <ng-template ngbTabContent>
                                    <p> Luego de realizar nuestra consulta y detectar sintomas sospechosos, extraemos una pequeña muestra de piel 
                                        para confirmar el diagnostico, la muestra es enviada a un laboratorio especializado que nos podra indicar 
                                    </p>
                                        <br>
                                        <div class="card page-carousel">
                                            <img src="./assets/img/Biopsia.png" alt="Biopsia" style="border-radius: 20px; margin-top: 90px;">
                                        </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Reseccion de Quistes">
                                <ng-template ngbTabContent>
                                    <p>Intervenimos quirúrgica al paciente donde se retiran uno o más quistes. En muchos casos, después de su remoción, 
                                        el quiste lo enviamos a un laboratorio para analizar su origen.</p>
                                        <br>
                                        <div class="card page-carousel" >
                                            <img src="./assets/img/Quistes.png" alt="Quistes" style="border-radius: 20px; margin-top: 90px">
                                        </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Botox">
                                <ng-template ngbTabContent>
                                    <p>Al inyectar botox en la piel, éste relaja las fibras de los músculos para disminuir su contracción. 
                                        Esto hace que la comunicación con los nervios se corte. Por este motivo se suele utilizar en cosmética 
                                        para frenar la aparición de las arrugas.</p>
                                        <br>
                                        <div class="card page-carousel" >
                                            <img src="./assets/img/Botox.png" alt="Botox" style="border-radius: 20px; margin-top: 90px">
                                        </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Acido Hialuronico">
                                <ng-template ngbTabContent>
                                    <p>
                                        El ácido hialurónico se inyecta en la piel mediante una jeringuilla muy fina. Generalmente no se requiere 
                                        anestesia local, aunque en ocasiones ésta se puede utilizar, dependiendo de las zonas en las que se aplica. 
                                    </p>
                                        <br>
                                        <div class="card page-carousel">
                                            <img src="./assets/img/Acido_Hia.png" alt="Acido Hialuronico" style="border-radius: 20px; margin-top: 90px">
                                        </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Crioterapia">
                                <ng-template ngbTabContent>
                                    <p>
                                        La crioterapia es un tratamiento en el que se usa frío intenso para congelar y destruir células cancerosas 
                                        y tejido anormal. Para esto se aplica nitrógeno líquido o gas argón. La crioterapia es un tipo de tratamiento 
                                        local.
                                    </p>
                                        <br>
                                        <div class="card page-carousel">
                                            <img src="./assets/img/Crioterapia.png" alt="Crioterapia" style="border-radius: 20px; margin-top: 90px">
                                        </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Radiesse">
                                <ng-template ngbTabContent>
                                    <p>
                                        LRadiesse es un relleno dérmico con el que se pueden tratar las arrugas faciales para lograr un aspecto más 
                                        rejuvenecido en tu rostro. El tratamiento estético con Radiesse es totalmente seguro. 
                                    </p>
                                        <br>
                                        <div class="card page-carousel">
                                            <img src="./assets/img/Radiesse.png" alt="Radiesse" style="border-radius: 20px; margin-top: 90px" >
                                        </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>

        <!-- <app-video></app-video> -->

        <app-navigation></app-navigation>
        
            <div class="section" id="carousel">
                <div class="container" style="padding-top: 30px;">
                    <div class="tim-title">
                        <h3 style="font-family: 'The Amsterdam'; text-align:center; font-size: 350%;">Galeria de Fotos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <div class="card page-carousel">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <p>Somewhere</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                        <div class="carousel-caption">
                                            <p>Somewhere else</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                        <div class="carousel-caption">
                                            <p>Here it is</p>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
      <!--<app-basicelements></app-basicelements> -->

        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
