<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg" style="background-image: url(/assets/images/gallery/Navbar.png);    background-size:cover;
background-position: center;">
    <div class="container" >
        <a class="navbar-brand mx-auto d-lg-none" href="index.html">
          <img style="width: 100px ;" src="/assets/images/gallery/Dra_Leydi_Mantilla.png" alt="Dra Leydi Mantilla">
        </a>

        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto" style="font-family: 'OpenSans';">
                <li class="nav-item active">
                    <a class="nav-link" href="#hero">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#about">Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#timeline">Procedimientos</a>
                </li>

                <a class="navbar-brand d-none d-lg-block" href="index.html">
                    <img style="width: 100px ;" src="/assets/images/gallery/Dra_Leydi_Mantilla.png" alt="Dra Leydi Mantilla">
                </a>

                <li class="nav-item">
                    <a class="nav-link" href="#reviews">Galeria</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#booking">Agenda</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contactanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
