<section class="section-padding pb-0" id="timeline">
    <div class="container">
        <div class="row">

            <h2 class="text-center mb-lg-5 mb-4" style="font-family: 'OpenSansRegular';">PROCEDIMIENTOS</h2>
            <ul class="honeycomb" lang="es">
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Botox.jpg">
                  <div class="honeycomb-cell__title">Botox</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Acido.jpg">
                  <div class="honeycomb-cell__title">Acido Hialuronico</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Crioterapia.jpg">
                  <div class="honeycomb-cell__title">Crioterapia</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Reseccion.jpg">
                  <div class="honeycomb-cell__title">Reseccion de tumores</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Nanopore.jpg">
                  <div class="honeycomb-cell__title">Nanopore</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Peeling.jpg">
                  <div class="honeycomb-cell__title">Peeling </div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Camilla2.jpg">
                  <div class="honeycomb-cell__title">Muchos mas</div>
                </li>
                <li class="honeycomb-cell honeycomb__placeholder"></li>
              </ul>

        </div>
    </div>
</section>
