<section class="section-padding pb-0" id="timeline">
    <div class="container">
        <div class="row">

            <h2 class="text-center mb-lg-5 mb-4" style="font-family: 'OpenSansRegular';">PROCEDIMIENTOS</h2>
            <ul class="honeycomb" lang="es">
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/botox.webp" alt="Botox" >
                  <div class="honeycomb-cell__title">Botox</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/acido.webp" alt="Acido Hialurico">
                  <div class="honeycomb-cell__title">Acido Hialuronico</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/crioterapia.webp" alt="Crioterapia">
                  <div class="honeycomb-cell__title">Crioterapia</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Reseccion.webp" alt="Reseccion de Tumores">
                  <div class="honeycomb-cell__title">Reseccion de tumores</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Nanopore.webp" alt="Nanopore">
                  <div class="honeycomb-cell__title">Nanopore</div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Peeling.webp" alt="Peeling">
                  <div class="honeycomb-cell__title">Peeling </div>
                </li>
                <li class="honeycomb-cell">
                  <img class="honeycomb-cell__image" src="../assets/images/gallery/Camilla2.webp" alt="Mas">
                  <div class="honeycomb-cell__title">Muchos mas</div>
                </li>
                <li class="honeycomb-cell honeycomb__placeholder"></li>
              </ul>

        </div>
    </div>
</section>
