<footer class="site-footer section-padding" id="contact" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 me-auto col-12" >
                <h5 class="mb-lg-4 mb-3">Horario</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        Lunes a Viernes
                        <span>7:00 AM - 5:30 PM</span>
                    </li>
  
                    <li class="list-group-item d-flex">
                        Sabado
                        <span>7:30 AM - 12:30 PM</span>
                    </li>
                    <li class="list-group-item d-flex">
                        Domingo : Cerrado
                    </li>
                </ul>
            </div>
  
            <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                <h5 class="mb-lg-4 mb-3">Nuestro Consultorio</h5>
  
                <p>Calle 157 # 20 - 94, Foscal Internacional FOSUNAB, Torre C, Consultorio 515</p>
                <p><a href="mailto:hello@company.co">draleydimantilla@gmail.com</a><p></p>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12 ms-auto">
                <h5 class="mb-lg-4 mb-3">Redes Sociales</h5>
  
                <ul class="social-icon">
                    <li><a href="https://wa.me/573178148094?text=Hola!%20Me%20gustaría%20realizar%20una%20consulta,%20que%20fechas%20tienen%20disponibilidad?" class="social-icon-link bi-whatsapp grow-on-hover" target="_blank"></a></li>
  
                    <li><a href="tel:317-814-8094" class="social-icon-link bi-telephone grow-on-hover"></a></li>
  
                    <li><a href="https://www.instagram.com/dramantilladerma/" class="social-icon-link bi-instagram grow-on-hover" target="_blank"></a></li>
  
                    <li><a href="https://www.linkedin.com/in/leydi-mantilla-villabona-09a539137/" class="social-icon-link bi-linkedin grow-on-hover" target="_blank"></a></li>
                </ul>
            </div>
  
            <div class="col-lg-3 col-6 ms-auto mt-4 mt-lg-0">
                <p class="copyright-text ">Copyright ©  
                   <br> Made with </p>
                <div class="palpitando">
                    <i class="bi bi-heart-fill"> </i> 
                </div>
                <p>by Julian Serrano</p>  
            </div>
  
        </div>
