.navbar{
    margin:0px;
    border: none;
    padding: 0;
    background-color: brown;
    color: aqua;
    max-height: 40px;
    height: 40px;
    display: contents;


}

.navbar_left{
    background-color:blue;
    width: 50%;
    position: absolute;
    left: 0px;
    max-height: 40px;
    height: 40px;
    align-items: left;
}

.navbar_right{
    background-color: yellow;
    width: 50%;
    position: absolute;
    right: 0px;
    max-height: 40px;
    height: 40px;
}

.content{
    top: 8px;
    right: 3px;
    position: relative;
}
